" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" my cfg ------>
""" Map leader to space ---------------------
let mapleader=" "

" Normally the { and } motions only match completely empty lines. 
" With this plugin lines that only contain whitespace are also matched.
Plug 'dbakker/vim-paragraph-motion'
" https://github.com/tpope/vim-surround/blob/master/doc/surround.txt
" delete (d) and change (c) works "around cursor"
" add (ys) needs a text object (iw, i", etc) as parameter, i.e. ysiw" adds " around "word"
" ds", ds), dst - etc - delete surround
" cs"' (change surround <from> <to>)
" ys[motion][surround with what]
" yss[surround with what] - whole line ignorin trail/lead whitespace
" ysWf[functionname] - add function call with selected object as arg (C style)
Plug 'tpope/vim-surround'
" to consider
" Sneak: https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins#sneak-jump-to-any-location-specified-by-two-characters

inoremap jk <Esc>
set ideajoin
set clipboard=unnamedplus,unnamed

" shows popup with hind under hightlighted word
map <leader>i <Action>(ShowHoverInfo)
map <leader>m <Action>(ShowPopupMenu)
map <leader>t <Action>(RiderUnitTestRunContextAction)
" set ideaput
set ignorecase
set relativenumber
set commentary
set quickscope
" set which-key

map <C-0> <Action>(NextDiff)
map <C-9> <Action>(PreviousDiff)
nnoremap <CR> o<esc>
nnoremap <S-CR> O<esc>d0
autocmd BufEnter * stopinsert
